.adminbar{
}

body.admin-bar #nav,
body.admin-bar {
  @include media-breakpoint-up(md){
    margin-top:32px !important;
  }

  @include media-breakpoint-down(md) {
    margin-top:46px !important;
  }
  .admin-only{
  }
}

body:not(.admin-bar){
    .admin-only{
        //display: none;
    }
}
