.grid{}

.content-wrapper{
    //max-width: 95%;
    max-width: var(--WidthContentArea);

}
.container{
    max-width: var(--WidthContainerArea);

    @include media-breakpoint-between(md,xxl){
        padding-left: $spacing;
        padding-right: $spacing;
    }

    [class^="col-"]{

    }
}


section{
    margin-bottom: $spacing;

    @include media-breakpoint-only(lg){
        margin-bottom: $spacing * 1.5;
    }

    @include media-breakpoint-up(xl){
        margin-bottom: $spacing * 2;
    }
    .row{

        @include media-breakpoint-up(lg){
            margin-bottom: $spacing * 1.5;
            margin-left: -$spacing * .6;
            margin-right: -$spacing * .6;

            [class^="col-"]{
                padding-left: $spacing * .6;
                padding-right: $spacing * .6;
            }
        }
    }
}