.grid{}

.content-wrapper{
    //max-width: 95%;
    max-width: var(--WidthContentArea);

}
.container{
    max-width: var(--WidthContainerArea);
    padding-left: $spacing * 0.625;
    padding-right: $spacing * 0.625;

    @include media-breakpoint-between(lg,xxl){
        padding-left: $spacing;
        padding-right: $spacing;
    }

    [class^="col-"]{

    }
}

.row{
    margin-left: -$spacing * 0.625;
    margin-right: -$spacing * 0.625;

    @include media-breakpoint-up(lg){
        margin-left: -$spacing;
        margin-right: -$spacing;

    }
    [class^="col-"]{
        padding-left: $spacing * 0.625;
        padding-right: $spacing * 0.625;

        @include media-breakpoint-up(lg){
            padding-left: $spacing * .6;
            padding-right: $spacing * .6;
        }
    }
}

.has_margin--bottom{
    margin-bottom: $spacing;

    @include media-breakpoint-only(lg){
        margin-bottom: $spacing * 1.5;
    }

    @include media-breakpoint-up(xl){
        margin-bottom: $spacing * 2;
    }
}

.sm_has__mb{
    @include media-breakpoint-down(md){
        margin-bottom: $spacing;
    }
}

.has_margins{
    margin-top: $spacing;
    margin-bottom: $spacing;

    @include media-breakpoint-only(lg){
        margin-top: $spacing * 1.5;
        margin-bottom: $spacing * 1.5;
    }

    @include media-breakpoint-up(xl){
        margin-top: $spacing * 2;
        margin-bottom: $spacing * 2;
    }
}

.has_padding--bottom{
    padding-bottom: $spacing;

    @include media-breakpoint-only(lg){
        padding-bottom: $spacing * 1.5;
    }

    @include media-breakpoint-up(xl){
        padding-bottom: $spacing * 2;
    }
}

.has_paddings{
    padding-top: $spacing;
    padding-bottom: $spacing;

    @include media-breakpoint-only(lg){
        padding-top: $spacing * 1.5;
        padding-bottom: $spacing * 1.5;
    }

    @include media-breakpoint-up(xl){
        padding-top: $spacing * 2;
        padding-bottom: $spacing * 2;
    }
}
