.concept__slider{
    .slide__wrapper{
        position: relative;
    }

    .slide__title{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    h3{
        margin: $spacing/3;
        color: var(--couleurBlanc);
    }

    .slick{
        &-arrow{
            top: 50%;

            svg path{
                fill: var(--couleurBlanc);
            }
        }
        
        &--prev{
            left: $spacing/3;
        }

        &--next{
            right: $spacing/3;
        }
    }
}