
// STYLING NAV IN GENERAL.
nav{
}

%nav-link {
    display: block;
    padding: $spacing/4 $spacing/2;
    text-decoration: none;
    transition: all .25s ease-in;
    text-transform: uppercase;
    font-weight: 700;

    .is_sticky &{
        font-size: 16px;
    }

    &:not(.btn){
        color: var(--couleurBlanc);

        .is_sticky &{
            color: var(--couleurNoir);
        }
    }

    &:hover,
    &.active,
    &.current-menu-parent{
        color: var(--couleurOr);
    }
}

%dropdown-link{
    display: block;
    padding: $spacing/4;
    text-decoration: none;
    transition: all .25s ease-in;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--couleurNoir);

    .is_sticky &{
        font-size: 14px;
    }

    &:visited{
        color: inherit;
    }

    &:hover,
    &.active,
    &.current-menu-parent{
        color: var(--couleurOr);
    }
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: transparent;
    transition: background-color .25s ease;

    .container-fluid{
        max-width: var(--WidthNavArea);
        padding: $spacing/2;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);

        @include media-breakpoint-up(md){
            padding: $spacing/2 $spacing;
        }
    }

    &.is_sticky{
        position: fixed;
        background-color: rgba(255,255,255,.85);

        .container-fluid{
            @include media-breakpoint-up(md){
                padding: $spacing/4 $spacing;
            }
        }
    }
}

.navbar-brand{
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;

    img{
        transition: all .25s ease;
        height: 115px;

        .is_sticky &{
            height: 45px;
            filter: invert(100%)
        }
    }
}

.navbar-nav{
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @include media-breakpoint-up(lg){
        flex-direction: row;
    }

    .nav{
        &-item{
            padding: 0 $spacing/2;

            &:nth-child(n+2){
                border-width: 0 0 0 3px;
                border-color: var(--couleurBlanc);
                border-style: solid;

                .is_sticky &{
                    border-color: var(--couleurNoir);
                }
            }
        }


        &-link{
            @extend %nav-link;

            .is_sticky &{
                @include media-breakpoint-up(lg){
                    font-size: 14px;
                }
            }
        }

    }

    .wpml-ls-legacy-list-horizontal{
        padding: 0;
        border: 0;
    }

    .wpml-ls-link{
        @extend %nav-link;
        margin-right: -$spacing;
    }

    .dropdown{
        position: relative;
        padding: $spacing/4 $spacing/2;

        &-menu{

            @include media-breakpoint-up(lg){
                position: absolute;
                top: calc(100% + 15px);
                left: 0;
                right: $spacing/2;
                z-index: 999;
                display: none;
                width: calc(100% - 3px);
                padding: $spacing/4 0;
                margin: 0;
                background-color: rgba(255,255,255,.85);
            }

            &.show{
                display: block;
            }
        }

        &-item{
            margin: 0 $spacing/4;

            &:nth-child(n+2){
                border-width: 3px 0 0 0;
                border-color: var(--couleurNoir);
                border-style: solid;
            }
        }

        &-link{
            @extend %dropdown-link;
        }
    }
}

