
/*
* FONTS, FONT-SIZE, SPACINGS
*/


/*
*  Then we can just create the font name:
*/
$prox: "proxima-nova",sans-serif;
$proxcond: "proxima-nova-condensed",sans-serif;
$font : $prox;

/*
* Here is how to add font-sizes according to a basic font size. Notice that it has no 'px' after its number to allow for calculations below:
*/

$fs-basic: 20;
$fs-basic-lg: 18;
$fs-basic-mobile: 16;

/*
* And here are the calculations we talked about:
* For example, h1 is 70px
*/

$fs-h1 : (60 / $fs-basic)*1rem;
$fs-h2: (52 / $fs-basic)*1rem;
$fs-h3 : (36 / $fs-basic)*1rem;
$fs-h3-bis : (30 / $fs-basic)*1rem;
$fs-h4 : (22 / $fs-basic)*1rem;
$fs-small : (17 / $fs-basic)*1rem;
$fs-base : (20 / $fs-basic)*1rem;

$font-weight-normal : 400;
$line-height-base : 28 / $fs-basic;
